.meses-container {
    display: flex;
}

.meses-seletor {
    padding: 0 10px;
    background-color: white;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
}

.ativo {
    background-color: dodgerblue;
    color: white;
}