.page-content {
    background-color: white;
    padding: 10px 10px;

}

.ano-seletor {
    margin-bottom: 20px;
    width: 100px;
}

.meses-container {
    display: flex;
    margin-left: -10px;
}

.meses-seletor {
    padding: 0 10px;
    background-color: white;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
}

.ativo {
    background-color: dodgerblue;
    color: white;
}