<header class="cfheader">

<div class="actionbar-holder">
    <div class="actionbar-container">
        <div class="espaço"></div>
        <div class="acoes">
            <a class="actionlink" (click)="limparSidebar()" routerLink="/paginaprincipal">
                <i class="fas fa-home"></i>
            </a>
            <!-- <a class="actionlink" href="">
                <i class="fas fa-dollar-sign"></i>
                <span class="actionlink-label">COISA UM</span>
            </a>
            <a class="actionlink" href="">
                <i class="fas fa-file-invoice"></i>
                <span class="actionlink-label">COISA DOIS</span>
            </a>
            <a class="actionlink" routerLink="/tabela">
                <i class="fas fas fa-id-card"></i>
                <span class="actionlink-label">MINHAS MOVIMENTAÇÕES</span>
            </a> -->


            <!-- <a *ngIf="userIsLogged == false" disabled class="actionlink" (click)="loginEsconder = !loginEsconder">entrar</a> -->
            <a *ngIf="userIsLogged == false" disabled class="actionlink" routerLink="/paginaprincipal/login">entrar</a>
            <div class="loginForm" *ngIf="userIsLogged == false" [ngClass]="{'hidden':loginEsconder}">
                <input class="loginForm-inputs" type="text" placeholder="email" [(ngModel)]="userForLogin.email">
                <input class="loginForm-inputs" type="password" placeholder="senha" [(ngModel)]="userForLogin.senha">
                <button class="loginForm-inputs loginForm-envio" (click)="logarWixMembers()"> <span *ngIf="!logando">enviar</span> <span *ngIf="logando" class="spinner-border spinner-border-sm"></span> </button>
            </div>
            <a *ngIf="userIsLogged" disabled class="actionlink">{{usuario}}</a>
            <a *ngIf="userIsLogged" disabled class="actionlink" (click)="deslogarWixMembers()">sair</a>
                   
            
            
        </div>
        
    </div>
</div>
    
</header>

<div style="padding-bottom: 1px;">
    <div class="container-main">

    <aside *ngIf="usuario !== ''" class="sidebar">
        <ul #sb class="sidebar-menu">
            <li class="sidebar-menu-item"> <a routerLink="/paginaprincipal/movimentacoes" class="sidebar-link" (click)="ativar(1)" [ngClass]="{'ativo':linkAtivo[1]}">Movimentações</a> </li>
            <li class="sidebar-menu-item" (click)="openModalOpcoes()"> <span class="sidebar-link">Editar opções </span> </li>
            <!-- <li class="sidebar-menu-item"> <a routerLink="/paginaprincipal/relatoriomensalantigo" class="sidebar-link" [ngClass]="{'ativo':linkAtivo[2]}" (click)="ativar(2)">Relatório Mensal</a></li>            
            <li class="sidebar-menu-item"> <a routerLink="/paginaprincipal/enviarcsv" class="sidebar-link" [ngClass]="{'ativo':linkAtivo[4]}" (click)="ativar(4)">Quatro: Enviar CSV</a> </li>
            <li class="sidebar-menu-item"> <a routerLink="/paginaprincipal/relatoriomensal" class="sidebar-link" [ngClass]="{'ativo':linkAtivo[5]}" (click)="ativar(5)">Cinco: Relatório Mensal</a> </li> -->
          <!--   <li (click)="logarWix()">Logar como Jonathan</li>
            <li (click)="logarWixDois()">Logar como Barbara</li> -->
        </ul>
    </aside>

    <section class="content">
        <router-outlet algumaCoisa="teste"></router-outlet>
    </section>

</div>
</div>


