<div class="modal-header">
    <h5>Dica</h5>
</div>

<div class="modal-body">
    <p>Você ainda não possui nenhuma <strong>{{campo}}</strong> registrada.</p>
    <br>
    <p>Utilize o menu vertical à esquerda (Editar opções) para adicionar <span *ngIf="campo == 'Categoria'">categorias</span> <span *ngIf="campo == 'Origem'">origens</span>.</p>
</div>

<div class="modal-footer">
    <div style="display: flex; justify-content: space-between; width: 100%;">
      <button class="btn btn-outline-primary" (click)="closeModal()">fechar</button>  
      <button class="btn btn-outline-primary" (click)="redirect_modalEditarOpcoes()">ir para <strong>Editar opções</strong> </button>
    </div>
    
    
</div>